@import "tailwindcss";

/* Configuration du mode sombre manuel pour Tailwind V4 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #003355;
  --color-accent: #8cc63f;
  --color-background: #f4f4f4;
  --color-surface: #ffffff;
  --color-text: #333333;
  
  --font-heading: "Oswald", sans-serif;
  --font-body: "Inter", sans-serif;
  
  --radius-cta: 4px;
}